.customDropdownContainer {
  background-color: blue;
}

.customDropdownButton {
  /* Your custom styles for the dropdown button */
  background-color: blue;
}

.customDropdownItems {
  background-color: blue;
  /* Your custom styles for the dropdown items */
}
